<!DOCTYPE html>
<html>
    <head>
        <title>Socket.IO chat</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
    </head>
    <body>
        <section id="connection" class="container-fluid d-flex h-100 m-0 p-0">
            <div class="row align-items-center justify-content-center w-100">
                <form id="user_form" class="col-6 form-group">
                    <label for="user" style="color: snow">Nom d'utilisateur</label>
                    <input class="form-control my-3" id="user" autocomplete="off" type="text" />
                    <div class="text-center">
                        <button class="btn btn-primary"> Se connecter </button>
                    </div>
                </form>
            </div>
        </section>
        <section id="connected" class="container-fluid h-100 w-100 m-0 p-0">
            <div class="row h-100 w-100">
                <div class="col-9 m-0 p-0 col-messages">
                    <ul id="messages"></ul>
                </div>
                <div class="col-3 m-0 p-0 pl-4 col-chat">
                    <div class="disconnect_row disconnect-button">
                        <form id="disconnect_form">
                            <button type="submit" class="btn btn-danger"> Se déconnecter </button>
                        </form>
                    </div>
                    <div class="row justify-content-center">
                        <form id="form" class="input-group text-center">
                            <input id="input" type="text" style="border: 0;" class="form-control" placeholder="Message ...">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Envoyer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/index.js"></script>
</html>
