html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #18181b;
  color: snow;
}

.user {
  color: red;
}

.message {
  font-weight: bold;
  color: snow;
}

.col-messages {
  margin: 0;
}

.col-chat {
  border-left: 1px solid #1f1f23;
  background-color: #1f1f23;
  padding-top: 5em;
}

.disconnect-button {
  position: absolute;
  top: 1em;
  right: 1em;
}

#form {
  position: absolute;
  bottom: 0.5em;
}

#messages, #users {
  list-style-type: none;
  padding: 0;
}

#messages > li {
  padding: 0.5rem 0;
}

#users {
  font-size: large;
  font-weight: bold;
}

#users > li {
  padding: 0.25rem 0;
}
