html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #18181b;
}

.user {
  color: red;
}

.message {
  font-weight: bold;
  color: snow;
}

.col-messages {
  margin: 0;
}

.col-chat {
  border-left: 1px solid #1f1f23;
  background-color: #1f1f23;
}

#form {
  position: absolute;
  bottom: 0.5em;
}

#messages {
  list-style-type: none;
  margin-left: 0.7em;
  padding: 0;
}
#messages > li {
  padding: 0.5rem 1rem;
}

.disconnect-button {
  top: 1em;
  right: 0;
  position: absolute;
  z-index: 1;
}
